#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.banner {
  height: 100px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}
.page_name {
  flex: 0.8;
  text-align: center;
  align-self: center;
}
.page_actions {
  display: flex;
  align-items: center;
  flex: 0.2;
}