* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  color-scheme: light dark;
  background-color: #c7d1cc;
  color: #181B1A;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
